body{
    background-color: #FEE0EA;;
}
.carousel-item {
    height: 250px; /* Altura reduzida do carrossel */
  }
  .carousel-item img {
    width: 100%;
    height: 100%; /* Faz a imagem ocupar toda a altura do carrossel */
    object-fit: cover; /* Mantém a proporção da imagem */
  }
  .card {
    height: 60%; /* Fazendo os cards ocuparem a mesma altura */
  }
  