body {
  background-color: #FEE0EA;
}

.carousel-item {
  height: 250px; /* Altura reduzida do carrossel */
}

.carousel-item img {
  width: 100%;
  height: auto; /* Mantém a proporção da imagem */
  object-fit: cover; /* Corta a imagem para preencher o espaço sem distorcer */
}

.card {
  height: 60%; /* Fazendo os cards ocuparem a mesma altura */
}

.titulo {
  padding: 10px;
}

.cabeçalho {
  padding: 10px;
  background-color: #FDC6D3;
}

#div-carrinho {
  max-width: 600px; /* Define uma largura máxima */
  margin: 20px auto; /* Centraliza horizontalmente */
  text-align: center; /* Centraliza o texto dentro da div */
  padding: 20px; /* Adiciona um pouco de espaçamento interno */
  border: 1px solid #ccc; /* Opcional: uma borda para destacar a div */
  border-radius: 8px; /* Opcional: bordas arredondadas */
  background-color: #f9f9f9; /* Opcional: cor de fundo */
}

.btn-add-to-cart {
  background-color: #FEE0EA; /* Cor de fundo */
  color: #000; /* Cor do texto */
  border: none; /* Remove a borda padrão */
}

.btn-add-to-cart:hover {
  background-color: #FDC6D3; /* Cor ao passar o mouse */
  color: #000; /* Cor do texto ao passar o mouse */
}

a {
  text-decoration: none;
  color: purple;
}

.container-fluid {
  background-color: #FDC6D3;
}

.navbar {
  background-color: #FDC6D3; /* Define a mesma cor do container-fluid */
}
.nav-link{
  padding-left: 10px;
}
.navbar-nav .nav-link:hover {
  color: #FDC6D3; /* Cor do texto ao passar o mouse */
  background-color: #ffbbd2; /* Cor de fundo ao passar o mouse */
  border-radius: 5%;
  color: black;
}
.accordion{
  padding: 15px;
}
/* Cor do botão do accordion quando fechado */
.accordion-button {
  background-color: #FDC6D3; /* Cor de fundo padrão */
  color: #000; /* Cor do texto */
}

/* Cor do botão do accordion quando está ativo (aberto) */
.accordion-button:not(.collapsed) {
  background-color: #ffbbd2; /* Cor quando o accordion está aberto */
  color: #000; /* Cor do texto, se necessário */
}

/* Cor ao focar no botão do accordion */
.accordion-button:focus {
  background-color: #ffbbd2; /* Cor ao focar */
  box-shadow: 0 0 0.25rem rgba(255, 187, 210, 0.5); /* Sombras, se desejado */
}
.logo-donuts{
  width: 200px;
  height: 75px;
  border-radius: 5%;
}